body {
  background-color: #000;
}


#landing-header {
	z-index: 1;
	position: relative;
	padding-top: 40vh;
	margin-left: 35%;
}


h1 {
	color: #fff;
}

h4 {
	color: #fff;
}


.slideshow {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}


.slideshow li {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 50s linear infinite;
}


.slideshow li:nth-child(1) {
	background-image: url(https://res.cloudinary.com/bishal/image/upload/v1586055961/Blog-Site/photo-1563865436874-9aef32095fad_shndng.jpg)
}
.slideshow li:nth-child(2) {
	background-image: url(https://res.cloudinary.com/bishal/image/upload/v1589717265/Blog-Site/IMG_0942_mfszz1.jpg);
  	animation-delay: 10s;
}
.slideshow li:nth-child(3) {
  	background-image: url(https://res.cloudinary.com/bishal/image/upload/v1589717265/Blog-Site/IMG_0946_w7jpzm.jpg);
  	animation-delay: 20s;
}
.slideshow li:nth-child(4) {
  	background-image: url(https://res.cloudinary.com/bishal/image/upload/v1589717265/Blog-Site/IMG_0945_bpr0ta.jpg);
  	animation-delay: 30s;
}
.slideshow li:nth-child(5) {
  	background-image: url(https://res.cloudinary.com/bishal/image/upload/v1589717265/Blog-Site/IMG_0943_jlyhf8.jpg);
  	animation-delay: 40s;
}


@keyframes imageAnimation {
	0% {
		opacity: 0;
		animation-timing-function: ease-in;
	}

	10% {
		opacity: 1;
		animation-timing-function: ease-out;
	}

	20% {
		opacity: 1
	}

	30% {
		opacity: 0
	}
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}


@media only screen and (max-width: 800px) {
  #landing-header {
  	padding-top: 30vh;
  	margin-left: 30%;
  }
}

@media only screen and (max-width: 432px) {
  #landing-header {
  	padding-top: 23vh;
  	margin-left: 30%;
  }
}
